<div class="container">
  <div class="privacy-content">
    <h1>Privacy Statement of Sri Ramakrishna Vidyarthi Mandiram, </h1>
    <h3>A unit of Ramakrishna Math, Basavanagudi, Bangalore</h3>
    <h4>Overview</h4>
    <p> Thank you for visiting the websites of Sri Ramakrishna Vidyarthi Mandiram vidyarthi.mandiram@gmail.com and
      reviewing the Privacy Statement. We, Sri Ramakrishna Vidyarthi Mandiram, do not
      collect personal information about visitors to our websites unless you choose to provide that information to us.
      We will use that information to respond to your message and to help us get you the information you have
      requested</p>
    <h4>Information Collected and Stored Automatically</h4>
    <p>When you visit our websites, we automatically gather and store the following information about your visit so
      that we can track the use of our Websites in order to make improvements. This information is stored and used
      in the aggregate only, and is not used to contact you personally:</p>
    <ul>
      <li> The IP address from which you access our websites;</li>
      <li> The type of browser and operating system used to access our websites;</li>
      <li> The date and time you access our websites;</li>
      <li> The pages, files, documents and links that you visit; and</li>
      <li> The domain of the website which referred you to this website (the last website you visited before
        visiting
        this one). </li>
    </ul>

    <h4>Cookies</h4>

    <p>In addition to information collected automatically, we use cookies to support the internal functionality of
      the websites. Cookies, which are small pieces of information sent to your browser by a website that you visit,
      are used to track usage patterns, traffic trends and customer behavior, as well as to record other information
      from the website. When you register on the websites, cookies also allow us to save information so that you
      will not have to re-enter it the next time you visit. Many content adjustments and customer service
      improvements are made based on the data derived from cookies. We use third-party vendors, such as, Google
      Analytics, to place cookies and analyze the information collected by cookies in order to make our websites
      more useful to you.</p>
    <p>No personally identifiable information is collected through these cookies. Information that we collect from
      cookies will not be used to create profiles of individual users and only will be used in aggregate form. The
      data is retained for as long as necessary to support the mission of our websites. To understand what Google
      does with your information, read Google’s privacy policy. You may opt-out of Google Analytics using the Google
      Analytics Opt-out Browser Add-on.</p>
    <h3>If You Send Us Personal Information</h3>
    <p>Our alumni page will only collect personal information which you knowingly and voluntarily provide us, for
      example, name, address, email, phone number. These information is required to keep track of alumni data for
      our database. We may also contact you to provide information about our programs and activities that may
      interest you. This information will not be shared with any other third party entities.</p>
    <h3>Security</h3>
    <p>We take reasonable steps to design and manage the websites’ technology to ensure that its information
      technology systems, applications, and information technology infrastructure are secure</p>
    <h3>Comments</h3>
    <p>Sri Ramakrishna Vidyarthi Mandiram is a large organization with many people sharing responsibility for the
      content of our websites. Please help us respond to your comments and inquiries by sending them to the
      appropriate office. If you have questions about this Privacy Statement, please contact us via email at 
      vidyarthi.mandiram@gmail.com.
    </p>
  </div>
</div>