<div class="container" *ngFor="let rowObj of aboutUslist">
  <div class="history-content">

    <div class="h-content">
      <!-- <h1>About Us</h1> -->
      <div [innerHtml]="videosanitizer(rowObj.content)"></div>
    </div>
  </div>
  <div class="button-set">
    <button *ngIf="
        roleId === AppConstants.UROLE_MASTER_ID ||
        roleId === AppConstants.UROLE_ADMIN_ID
      "
      type="button" class="btn" [routerLink]="['/about_Us_Save_Update', rowObj.idaboutUs]" title="{{ AppMessages.edit_label }}">
      <i class="material-icons">edit</i>
    </button>
  </div>
</div>