<div class="admin-page-container">
  <div class="page-title">
    <h2>Events</h2>
    <button (click)="openSaveUpdateDialog()" routerLinkActive="active" class="btn" title="Add Event">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <ul class="srvm-tabs srvm-4tab">
    <li [class.active]="tabNumber === tabNumberArray[1]" (click)="tabSwitchFn(tabNumberArray[1])">
      Currently Showing
    </li>
    <li [class.active]="tabNumber === tabNumberArray[0]" (click)="tabSwitchFn(tabNumberArray[0])">
      Next Event to be Shown
    </li>
    <li [class.active]="tabNumber === tabNumberArray[3]" (click)="tabSwitchFn(tabNumberArray[3])">
      Completed
    </li>
    <li [class.active]="tabNumber === tabNumberArray[2]" (click)="tabSwitchFn(tabNumberArray[2])">
      Deleted
    </li>
  </ul>

  <div class="tab-content" *ngIf="tabNumber === tabNumberArray[0]">
    <div class="page-container">
      <div class="event-container">
        <div class="row">
          <div class="col-sm-4" *ngFor="let rowObj of EventList">
            <div class="event-list-block">
              <div class="event-img" [routerLink]="['/eventOverview', rowObj.idevent]">
                <!-- <img src="assets/images/event-img.jpg" /> -->
                <img src="{{ 'assets/images/' + rowObj.event_image }}"
                  onError="this.src='assets/images/event-img.jpg';" />
              </div>
              <h4 class="title">{{ rowObj.event_name }}</h4>
              <p class="event-info date">
                <i class="fa fa-calendar "></i>
                {{ getDateFormat(rowObj.start_date) }} to
                {{ getDateFormat(rowObj.end_date) }}
              </p>
              <p class="event-info location">
                <i class="fa fa-map-marker"></i> {{ rowObj.location }}
              </p>
              <!-- <p class="event-info cate">{{ rowObj.category }}</p> -->
              <p class="event-short-desc">
                {{ rowObj.short_description }}
              </p>

              <div class="actions">
                <div class="event-user-info">
                  <p>
                    Publish Date :
                    {{ getDateFormat(rowObj.published_start_date) }} -
                    {{ getDateFormat(rowObj.published_end_date) }}
                  </p>
                  <p>
                    Created : {{ getDateFormat(rowObj.create_timestamp) }} (
                    {{ rowObj.created_by_first_name }}
                    {{ rowObj.created_by_last_name }} )
                  </p>
                  <p *ngIf="rowObj.update_timestamp">
                    Updated : {{ getDateFormat(rowObj.update_timestamp) }} (
                    {{ rowObj.first_name }} )
                  </p>
                </div>

                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  [routerLink]="['/eventSave', rowObj.idevent]" title="{{ AppMessages.edit_label }}">
                  <i class="fa fa-pencil "></i>
                </button>
                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  (click)="activateConfirmFn(rowObj.idevent)" title="{{ AppMessages.delete_label }}">
                  <i class="fa fa-trash "></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts-pagination-container">
        <app-pagination [count]="eventTotalDataCount" [limit]="eventLimit" [activePage]="eventCurrentPageno"
          (changePageEvent)="geteventListByPublished($event)">
        </app-pagination>
      </div>
    </div>
  </div>

  <div class="tab-content" *ngIf="tabNumber === tabNumberArray[1]">
    <div class="page-container">
      <div class="event-container">
        <div class="row">
          <div class="col-sm-4" *ngFor="let rowObj of EventList">
            <div class="event-list-block">
              <div class="event-img" [routerLink]="['/eventOverview', rowObj.idevent]">
                <!-- <img src="assets/images/event-img.jpg" /> -->
                <img src="{{ 'assets/images/' + rowObj.event_image }}"
                  onError="this.src='assets/images/event-img.jpg';" />
              </div>
              <h4 class="title">{{ rowObj.event_name }}</h4>
              <p class="event-info date">
                <i class="fa fa-calendar "></i>
                {{ getDateFormat(rowObj.start_date) }} to
                {{ getDateFormat(rowObj.end_date) }}
              </p>
              <p class="event-info location">
                <i class="fa fa-map-marker"></i> {{ rowObj.location }}
              </p>
              <!-- <p class="event-info cate">{{ rowObj.category }}</p> -->
              <p class="event-short-desc">
                {{ rowObj.short_description }}
              </p>
              <div class="actions">
                <div class="event-user-info">
                  <p>
                    Publish Date :
                    {{ getDateFormat(rowObj.published_start_date) }} -
                    {{ getDateFormat(rowObj.published_end_date) }}
                  </p>
                  <p>
                    Created : {{ getDateFormat(rowObj.create_timestamp) }} (
                    {{ rowObj.created_by_first_name }}
                    {{ rowObj.created_by_last_name }} )
                  </p>
                  <p *ngIf="rowObj.update_timestamp">
                    Updated : {{ getDateFormat(rowObj.update_timestamp) }} (
                    {{ rowObj.updated_by_name }}
                    )
                  </p>
                </div>

                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  [routerLink]="['/eventSave', rowObj.idevent]" title="{{ AppMessages.edit_label }}">
                  <i class="fa fa-pencil "></i>
                </button>
                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  (click)="activateConfirmFn(rowObj.idevent)" title="{{ AppMessages.delete_label }}">
                  <i class="fa fa-trash "></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts-pagination-container">
        <app-pagination [count]="eventTotalDataCount" [limit]="eventLimit" [activePage]="eventCurrentPageno"
          (changePageEvent)="geteventListByCurrentlyRunning($event)">
        </app-pagination>
      </div>
    </div>
  </div>

  <div class="tab-content" *ngIf="tabNumber === tabNumberArray[2]">
    <div class="page-container">
      <div class="event-container">
        <div class="row">
          <div class="col-sm-4" *ngFor="let rowObj of EventList">
            <div class="event-list-block" [routerLink]="['/eventOverview', rowObj.idevent]">
              <div class="event-img">
                <!-- <img src="assets/images/event-img.jpg" /> -->
                <img src="{{ 'assets/images/' + rowObj.event_image }}"
                  onError="this.src='assets/images/event-img.jpg';" />
              </div>
              <h4 class="title">{{ rowObj.event_name }}</h4>
              <p class="event-info date">
                <i class="fa fa-calendar "></i>
                {{ getDateFormat(rowObj.start_date) }} to
                {{ getDateFormat(rowObj.end_date) }}
              </p>
              <p class="event-info location">
                <i class="fa fa-map-marker"></i> {{ rowObj.location }}
              </p>
              <!-- <p class="event-info cate">{{ rowObj.category }}</p> -->
              <p class="event-short-desc">
                {{ rowObj.short_description }}
              </p>
              <div class="actions">
                <div class="event-user-info">
                  <p>
                    Publish Date :
                    {{ getDateFormat(rowObj.published_start_date) }} -
                    {{ getDateFormat(rowObj.published_end_date) }}
                  </p>
                  <p>
                    Created : {{ getDateFormat(rowObj.create_timestamp) }} (
                    {{ rowObj.created_by_obj.first_name }}
                    {{ rowObj.created_by_obj.last_name }} )
                  </p>
                  <p *ngIf="rowObj.updated_by_obj">
                    Updated : {{ getDateFormat(rowObj.update_timestamp) }}(
                    {{ rowObj.updated_by_obj.first_name }} )
                  </p>
                </div>

                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  [routerLink]="['/eventSave', rowObj.idevent]" title="{{ AppMessages.edit_label }}">
                  <i class="fa fa-pencil "></i>
                </button>
                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  (click)="activateConfirmFn(rowObj.idevent)" title="{{ AppMessages.delete_label }}">
                  <i class="fa fa-trash "></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts-pagination-container">
        <app-pagination [count]="eventTotalDataCount" [limit]="eventLimit" [activePage]="eventCurrentPageno"
          (changePageEvent)="geteventListByDeleted($event)">
        </app-pagination>
      </div>
    </div>
  </div>
  <div class="tab-content" *ngIf="tabNumber === tabNumberArray[3]">
    <div class="page-container">
      <div class="event-container">
        <div class="row">
          <div class="col-sm-4" *ngFor="let rowObj of EventList">
            <div class="event-list-block">
              <div class="event-img" [routerLink]="['/eventOverview', rowObj.idevent]">
                <!-- <img src="assets/images/event-img.jpg" /> -->
                <img src="{{ 'assets/images/' + rowObj.event_image }}"
                  onError="this.src='assets/images/event-img.jpg';" />
              </div>
              <h4 class="title">{{ rowObj.event_name }}</h4>
              <p class="event-info date">
                <i class="fa fa-calendar "></i>
                {{ getDateFormat(rowObj.start_date) }} to
                {{ getDateFormat(rowObj.end_date) }}
              </p>
              <p class="event-info location">
                <i class="fa fa-map-marker"></i> {{ rowObj.location }}
              </p>
              <!-- <p class="event-info cate">{{ rowObj.category }}</p> -->
              <p class="event-short-desc">
                {{ rowObj.short_description }}
              </p>
              <div class="actions">
                <div class="event-user-info">
                  <p>
                    Created : {{ getDateFormat(rowObj.create_timestamp) }} (
                    {{ rowObj.created_by_first_name }}
                    {{ rowObj.created_by_last_name }} )
                  </p>
                  <p>
                    <!-- Update by :
                    {{ getDateFormat(rowObj.update_timestamp) }}
                    {{ rowObj.updated_by_name }} -->
                    <span *ngIf="rowObj.update_timestamp">
                      Update by :
                      {{ getDateFormat(rowObj.update_timestamp) }}</span>
                    <span *ngIf="!rowObj.update_timestamp"></span>
                    {{ rowObj.updated_by_name }}
                  </p>
                </div>

                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  [routerLink]="['/eventSave', rowObj.idevent]" title="{{ AppMessages.edit_label }}">
                  <i class="fa fa-pencil "></i>
                </button>
                <button *ngIf="buttonDiasable == false" type="button" class="btn"
                  (click)="activateConfirmFn(rowObj.idevent)" title="{{ AppMessages.delete_label }}">
                  <i class="fa fa-trash "></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ts-pagination-container">
        <app-pagination [count]="eventTotalDataCount" [limit]="eventLimit" [activePage]="eventCurrentPageno"
          (changePageEvent)="geteventListByCompleted($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>
