.loader-hidden {
    visibility: hidden;
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    bottom: 0;
    right: 0;
    background: rgba(27, 109, 169, 0.5);
    text-align: center;
}
.spinner {
    position: relative;
    display: inline-block;
    top: 50%;
 
}