<div class="input-block col-sm-12">
  <h2>SVRM PDF DOWNLOAD</h2>
  <div class="input-block col-sm-4">
    <!-- <a href="assets/PDFdownlod/SVRMHistroy.pdf" >
      DownLoad PDF
  <h2>SVRM PDF DOWNLOAD</h2>
  <div class="input-block col-sm-4">
    <a href="assets/PDFdownlod/SVRMHistroy.pdf" class="btn btn-default">
      DownLoad PDF
    </a>
=======
    </a> -->
    <button class="btn btn-default">
      <a href="assets/PDFdownlod/SVRMHistroy.pdf" download="SRVMHistory" style="color:black;">
        DownLoad PDF
      </a>
    </button>
  </div>
</div>