<div class="container">
  <div class="privacy-content">
    <p>
      By using the pages in this site, you agree to these terms and conditions. If you do not agree, please do not use
      this
      site. These terms and conditions may be changed or updated from time to time.
    </p>
    <p>This website is owned and maintained by Sri Ramakrishna Vidyarthi Mandiram. Unless otherwise indicated, all
      information contained in this website is copyrighted. You may not copy, frame, modify, transmit or distribute the
      material obtained from website, in whole or in part, without the written consent of the copyright owner.</p>
    <p>You are welcome to link to this site, provided that in doing so you do not use the name of the Ramakrishna Math
      and
      Ramakrishna Mission, and their emblem without permission. Use of the names and emblem of Ramakrishna Math and
      Ramakrishna Mission by unauthorized persons, including their reproduction on other websites without appropriate
      authorization constitutes a criminal offence under the Emblems and Names (Prevention of Improper Use) Act, 1950,
      of
      the Government of India.</p>
    <p>You may not link to this site from a site or in a manner which disparages the reputation of Ramakrishna Math and
      Ramakrishna Mission and its affiliates.</p>
    <p>For permission to use text information or photographs from this web site in a manner other than that stated
      above,
      please contact us:######################
      <p>If you have any questions about this web site, or if you find any errors, please notify
        us:##########################

      </p>
      <h4>Disclaimer</h4>
      <p>The material in this site may include technical inaccuracies or typographical errors. Sri Ramakrishna Vidyarthi
        Mandiram, may make changes or improvements at any time.</p>
  </div>
</div>