<!-- <div class="user-info-container rtl" [matMenuTriggerFor]="menu">
  <span class="user-img">
    <img [src]="userSession.profile_image_url" onError="this.src='assets/user-default-img.png';" />
  </span>
  <div class="user-info">
    <span>{{AppMessages.welcome_label}}</span>
    <p class="user-name">{{userSession.name}}</p>
    <i class="arrow-icon material-icons">arrow_drop_down</i>
  </div>
</div>
<mat-menu #menu="matMenu" yPosition="below" xPosition="before" overlapTrigger="false">
  <ul class="nav-dropdown-links">
    <li mat-menu-item routerLink="/profile">
      {{AppMessages.menu_label_profile}}</li>
    <li mat-menu-item (click)="logout()">{{AppMessages.menu_label_logout}}</li>
  </ul>
</mat-menu> -->
