<div class="gallery-category-page admin-page-container">
  <form [formGroup]="galleryCategoryObjFG" (ngSubmit)="saveFormGallerySubmit()">
    <div class="input-block col-sm-6">
      <label class="input-label">Category Name <em>*</em></label>
      <input
        type="text"
        class="input-text"
        formControlName="gallery_category_name"
      />
      <custom-validation-messages
        class="input-error"
        [control]="galleryCategoryObjFG.controls.gallery_category_name"
      ></custom-validation-messages>
    </div>

    <div class="button-set col-sm-12">
      <span *ngIf="updateButton == false">
        <button type="submit" class="btn">
          Save
        </button>
      </span>
      <span *ngIf="updateButton == true">
        <button type="submit" class="btn">
          Update
        </button>
      </span>
      <button class="btn" (click)="onCancelForm()" type="reset">
        Cancel
      </button>
    </div>
  </form>
</div>
