<div class="gig-login-container">
  <div class="white-block login-form-container">
    <!-- <h2>{{ PageMessages.menu_label_Student }}</h2> -->

    <h2>{{ PageMessages.change_password_label }}</h2>
    <div class="form-container row">
      <form [formGroup]="userObj2FG" (ngSubmit)="saveFormObj2Submit()">
        <!-- <div class="input-block col-sm-12">
          <label class="input-label">{{ PageMessages.username_label }}</label>
          <input
            type="text"
            class="input-text"
            [value]="userObjChangePassword.cell_number"
            disabled
          />
        </div> -->

        <div class="input-block col-sm-12">
          <label class="input-label"
            >{{ PageMessages.old_password_label
            }}<span class="required-mark">*</span></label
          >
          <input
            type="password"
            class="input-text"
            formControlName="old_password"
            [(ngModel)]="userObjChangePassword.old_password"
          />
          <custom-validation-messages
            class="input-error"
            [control]="userObj2FG.controls.old_password"
          ></custom-validation-messages>
        </div>

        <div class="input-block col-sm-6">
          <label class="input-label"
            >{{ PageMessages.password_label
            }}<span class="required-mark">*</span></label
          >
          <input
            type="password"
            class="input-text"
            formControlName="password"
            [(ngModel)]="userObjChangePassword.password"
          />
          <custom-validation-messages
            class="input-error"
            [control]="userObj2FG.controls.password"
          ></custom-validation-messages>
        </div>

        <div class="input-block col-sm-6">
          <label class="input-label"
            >{{ PageMessages.confirm_password_label
            }}<span class="required-mark">*</span></label
          >
          <input
            type="password"
            class="input-text"
            formControlName="confirm_password"
            [(ngModel)]="userObjChangePassword.confirm_password"
          />
          <custom-validation-messages
            class="input-error"
            [control]="userObj2FG.controls.confirm_password"
          ></custom-validation-messages>
        </div>

        <div class="button-set col-sm-12">
          <button type="submit" class="btn">
            {{ PageMessages.submit_label }}
          </button>

          <a (click)="onCancel()" type="reset" class="cancel-link">{{
            PageMessages.cancel_label
          }}</a>
        </div>
      </form>
    </div>
  </div>
</div>
