.event-img {
  cursor: pointer;
}
.event-img img {
  width: 100%;
}
.event-detail {
  border-bottom: 1px solid #c8c8c8;
  padding: 0 0 10px;
  margin: 0 0 10px;
}
h4.title {
  font-size: 20px;
  margin: 10px 0;
}
.event-info {
  font-size: 18px;
  color: #c8c8c8;
}
.event-info span {
  margin: 0 0 0 10px;
}
span.view-icon {
  position: absolute;
  background: rgba(255, 255, 255, 0.67);
  border: 1px solid #bebebe;
  margin: 14px;
  right: 15px;
  display: none;
}

span.view-icon i.material-icons {
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
}
.event-img.col-sm-6 span.view-icon.full-view {
  display: inline-block;
}
.event-img.col-sm-12 span.view-icon.small-view {
  display: inline-block;
}
button.btn.close-btn {
  width: 30px;
  min-width: auto;
  padding: 0;
  text-align: center;
  position: absolute;
  right: 0;
  top: -1px;
  line-height: 30px;
}

button.btn.close-btn i.material-icons {
  display: inline-block;
  vertical-align: middle;
}
.event-detail-container {
  position: relative;
}
