<div class="gig-login-container">
  <div class="white-block login-form-container" *ngIf="!isOtpRequestSent">
    <h2>{{ PageMessages.menu_label_User }}</h2>
    <hr />
    <h2>{{ PageMessages.verification_code_head_message }}</h2>
    <p>{{ PageMessages.verification_code_message }}</p>
    <div class="form-container">
      <form
        [formGroup]="forgotPasswordFG"
        (ngSubmit)="forgotPasswordFormSubmiFn()"
      >
        <div class="input-block">
          <input
            type="text"
            class="input-text"
            formControlName="email"
            [(ngModel)]="userObj.email"
            #username
            placeholder="{{ PageMessages.EMAIL_label }}"
          />
          <custom-validation-messages
            class="input-error"
            [control]="forgotPasswordFG.controls.email"
          ></custom-validation-messages>
        </div>
        <div class="button-set">
          <button type="submit" class="btn">
            {{ PageMessages.generate_otp_label }}
          </button>
          <a (click)="cancelFn()" class="cancel-link">{{
            PageMessages.cancel_label
          }}</a>
        </div>
      </form>
    </div>
  </div>

  <div
    class="hm-customer-login hm-forgot-password verify-pass"
    *ngIf="isOtpRequestSent && !isOtpVerified"
  >
    <div class="white-block login-form-container">
      <h2>{{ PageMessages.menu_label_User }}</h2>
      <hr />
      <h2>{{ PageMessages.enter_otp_label }}</h2>
      <p>{{ PageMessages.otp_sent_success_message }}</p>
      <div class="form-container">
        <form
          [formGroup]="validateOTPFG"
          (ngSubmit)="vailidateOTPFormSubmiFn()"
        >
          <div class="input-block">
            <input
              type="text"
              class="input-text"
              formControlName="otp_code"
              [(ngModel)]="userObjOTPVerification.otp_code"
              #username
              placeholder="{{ PageMessages.enter_otp_label }}"
            />
            <custom-validation-messages
              class="input-error"
              [control]="validateOTPFG.controls.otp_code"
            ></custom-validation-messages>
          </div>

          <div class="button-set">
            <button type="submit" class="btn">
              {{ PageMessages.submit_label }}
            </button>
            <a (click)="cancelVerifyFn()" class="cancel-link">{{
              PageMessages.cancel_label
            }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="hm-customer-login hm-forgot-password verify-pass"
    *ngIf="isOtpRequestSent && isOtpVerified"
  >
    <h2>{{ PageMessages.menu_label_customer }}</h2>
    <hr />
    <h2>{{ PageMessages.change_password_label }}</h2>
    <div class="form-container row">
      <form
        [formGroup]="changePasswordFG"
        (ngSubmit)="changePasswordFormSubmiFn()"
      >
        <div class="input-block col-sm-12">
          <label class="input-label" style="display :block; color: #fff;">{{
            PageMessages.password_label
          }}</label>
          <input
            type="password"
            class="input-text"
            formControlName="password"
            [(ngModel)]="userObjChangePassword.password"
            placeholder="{{ PageMessages.password_label }}"
          />
          <custom-validation-messages
            class="input-error"
            [control]="changePasswordFG.controls.password"
          ></custom-validation-messages>
        </div>

        <div class="input-block col-sm-12">
          <label class="input-label" style="display :block; color: #fff;">{{
            PageMessages.confirm_password_label
          }}</label>
          <input
            type="password"
            class="input-text"
            formControlName="confirm_password"
            [(ngModel)]="userObjChangePassword.confirm_password"
            placeholder="{{ PageMessages.confirm_password_label }}"
          />
          <custom-validation-messages
            class="input-error"
            [control]="changePasswordFG.controls.confirm_password"
          ></custom-validation-messages>
        </div>

        <div class="button-set col-sm-12">
          <button type="submit" class="btn">
            {{ PageMessages.submit_label }}
          </button>
          <a (click)="cancelFn()" class="cancel-link">{{
            PageMessages.cancel_label
          }}</a>
        </div>
      </form>
    </div>
  </div>
</div>
